@font-face {
  font-family: "icon"; /* Project id 2783112 */
  src: url('iconfont.woff2?t=1671279020445') format('woff2'),
       url('iconfont.woff?t=1671279020445') format('woff'),
       url('iconfont.ttf?t=1671279020445') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31wode:before {
  content: "\e619";
}

.icon-home_light:before {
  content: "\e7d4";
}

.icon-fenlei2:before {
  content: "\e71b";
}

.icon-shoucang1:before {
  content: "\e66d";
}

.icon-receipt-address:before {
  content: "\e673";
}

.icon-kefu:before {
  content: "\e61c";
}

.icon-fukuantongzhi:before {
  content: "\e614";
}

.icon-fenxiang1:before {
  content: "\e61d";
}

.icon-shoucang11:before {
  content: "\e615";
}

.icon-tuihuotuikuan_dianpu:before {
  content: "\e773";
}

.icon-dingdan-:before {
  content: "\e637";
}

.icon-tuihuotuikuan:before {
  content: "\e7af";
}

.icon-gouwuche2:before {
  content: "\e63f";
}

.icon-fenxiang11:before {
  content: "\e713";
}

.icon-sousuo1:before {
  content: "\e61e";
}

.icon-changyongicon-:before {
  content: "\e618";
}

.icon-shoucang-copy:before {
  content: "\e7b0";
}

.icon-shibai:before {
  content: "\e7b4";
}

.icon-wenda:before {
  content: "\e600";
}

.icon-yanzhengma:before {
  content: "\e601";
}

.icon-wode:before {
  content: "\e602";
}

.icon-wuwangluo:before {
  content: "\e603";
}

.icon-youjiantou:before {
  content: "\e604";
}

.icon-zuopin:before {
  content: "\e605";
}

.icon-dianzan:before {
  content: "\e606";
}

.icon-gengduo:before {
  content: "\e607";
}

.icon-yuedu:before {
  content: "\e608";
}

.icon-pinglun:before {
  content: "\e609";
}

.icon-lishi:before {
  content: "\e60a";
}

.icon-dianzan2:before {
  content: "\e60b";
}

.icon-shanchu:before {
  content: "\e60c";
}

.icon-shoucang:before {
  content: "\e60d";
}

.icon-shouye:before {
  content: "\e60e";
}

.icon-guanbi:before {
  content: "\e60f";
}

.icon-fenxiang:before {
  content: "\e610";
}

.icon-shipin:before {
  content: "\e611";
}

.icon-shouji:before {
  content: "\e612";
}

.icon-sousuo:before {
  content: "\e613";
}

